---
import { applyImageInversion } from "../utils/invertImage";

interface Props {
  name: string;
  image: string;
  iconSize?: number;
  textSize?: string;
  isPill?: boolean;
}

const { image, name, iconSize = 80, isPill, textSize }: Props = Astro.props;

const techUrlSections = image.split("/");
const techToInvert = techUrlSections[3];
---

<li
  class=`flex items-center gap-2 px-2 py-1 ${isPill ? "rounded-full border border-main-text shadow-dark-sm-soft duration-300 ease-in-out hover:scale-105 dark:bg-gray-700 dark:shadow-dark-xs-glow" : "flex-col"}`
>
  <img
    src={image}
    class={`inline-block duration-300 ease-in-out ${applyImageInversion(techToInvert)} ${isPill ? `hover:rotate-45` : "hover:scale-105"}`}
    width={iconSize}
    height={iconSize}
    alt=""
  />
  <span class=`text-${textSize ? textSize: "base"}`>{name}</span>
</li>
